<footer>
    <div class="d-flex justify-content-center align-items-center bg-white p-b-6">
        <div class="branch-1 d-flex justify-content-center align-items-end">
            <div class="m-x-3 m-b-2">
                <a class="" href="#">
                    <img src="/src/assets/image/Footer/rohto-logo.svg" alt="rohto-logo" class="logo-svg">
                </a>
            </div>
            <div class="m-x-3">
                <a class="d-flex justify-content-center align-items-center" href="#">
                    <img src="/src/assets/image/Footer/location.png" alt="location.png" class="icon-4">
                    <p class="t-10 ml-4 mb-0">
                        Hệ thống cửa hàng
                    </p>
                </a>
            </div>
            <div class="m-x-3">
                <a class="d-flex justify-content-center align-items-center" href="#">
                    <img src="/src/assets/image/Footer/cart.png" alt="cart.png"" class=" icon-4">
                    <p class="t-10 ml-4 mb-0">
                        Đối tác online
                    </p>
                </a>
            </div>
            <div class="m-x-3">
                <a class="d-flex justify-content-center align-items-center" href="#">
                    <img src="/src/assets/image/Footer/youtube.png" alt="youtube.png" class="icon-4">
                    <p class="t-10 ml-4 mb-0">
                        Youtube
                    </p>
                </a>
            </div>
            <div class="m-x-3">
                <a class="d-flex justify-content-center align-items-center" href="#">
                    <img src="/src/assets/image/Footer/facebook.png" alt="facebook.png" class="icon-2">
                    <p class="t-10 ml-4 mb-0">
                        Facebook
                    </p>
                </a>
            </div>
            <div class="m-x-3">
                <a class="d-flex justify-content-center align-items-center" href="#">
                    <img src="/src/assets/image/Footer/insta.png" alt="insta.png" class="icon-4">
                    <p class="t-10 ml-4 mb-0">
                        Instagram
                    </p>
                </a>
            </div>

        </div>
    </div>
    <div class="branch-2 d-flex justify-content-center p-x-160 p-y-6 t-8 text-white">
        <div class="col-span-2 gap-2">
            <h6 class="h-b-1">CÔNG TY TNHH ROHTO-MENTHOLATUM (VIỆT NAM)</h6>
            <p>
                Số ĐKKD 3700239769 do Sở KHĐT Bình Dương cấp ngày 30/06/2008
                <br />
                Tư vấn khách hàng: 028 – 3822 9322Email: enquiries@rohto.com.vn
                <br />
                16 VSIP Đường số 5, Khu công nghiệp Việt
                Nam - Singapore, Phường Bình Hòa, Thành phố Thuận An, Tỉnh Bình Dương
            </p>
        </div>
        <div class="col-span-1 gap-2">
            <div>
                <div>Chính sách đổi trả và bảo hành</div>
                <div>Chính sách giao nhận</div>
                <div>Chính sách thanh toán</div>
                <div>Hướng dẫn đặt hàng</div>
            </div>
        </div>
        <div class="col-span-1 gap-2">
            <div>
                <div>COPYRIGHT © 2019 ALL RIGHTS RESERVED</div>
                <div>Điều khoản sử dụngCookie</div>
                <div>Chính sách bảo mậtSitemap</div>
            </div>
        </div>
        <div class="col-span-1 gap-2 d-flex justify-content-center align-items-center">
            <img src="/src/assets/image/Footer/dathongbaobct.png" alt="dathongbaobct.png" class="h-50">
        </div>
    </div>
</footer>