<container class="w-100 d-flex">
    <div class="flex-fill-1">
        <a href="">
            <img src="/public/src/assets/image/Body-Trang-chu/S1_SkinAqua_BG.png" alt="">
            <p>SKIN AQUA</p>
        </a>
    </div>
    <div class="flex-fill-1">
        <a href="">
            <img src="/public/src/assets/image/Body-Trang-chu/S1_ToneUp_BG.png" alt="">
            <p>TONE UP</p>
        </a>
    </div>
    <div class="flex-fill-1">
        <a href="">
            <img src="/public/src/assets/image/Body-Trang-chu/S1_Sunplay_BG.png" alt="">
            <p>SUNLAY</p>
        </a>
    </div>
    <div class="flex-fill-1">
        <a href="">
            <img src="/public/src/assets/image/Body-Trang-chu/S1_Nexta_BG.png" alt="">
            <p>NEXTA</p>
        </a>
    </div>
</container>