<container class="part">
    <img src="/public/src/assets/image/Body-Trang-chu/S2_Nexta_BG.png" alt="">
    <div class="widget">
        <p>Chỉ số UV Index hôm nay</p>
        <p id="dateDisplay-4"></p>
        <div class="dropdown">
            <button id="selected-4" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                HỒ CHÍ MINH
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item dropdown-item-4" type="button">HỒ CHÍ MINH</button>
                <button class="dropdown-item dropdown-item-4" type="button">HÀ NỘI</button>
                <button class="dropdown-item dropdown-item-4" type="button">CẦN THƠ</button>
                <button class="dropdown-item dropdown-item-4" type="button">ĐÀ NẴNG</button>
                <button class="dropdown-item dropdown-item-4" type="button">HẢI PHÒNG</button>
                <button class="dropdown-item dropdown-item-4" type="button">BIÊN HÒA</button>
                <button class="dropdown-item dropdown-item-4" type="button">NHA TRANG</button>
                <button class="dropdown-item dropdown-item-4" type="button">BÌNH DƯƠNG</button>
                <button class="dropdown-item dropdown-item-4" type="button">BÀ RỊA VŨNG TÀU</button>
                <button class="dropdown-item dropdown-item-4" type="button">HUẾ</button>
            </div>
        </div>
        <div class="widget-cel">
            <h2>12</h2>
            <p>Buộc phải chống nắng</p>
        </div>
    </div>
    <div class="widget-bottom">
        <div class="widget-bottom-content">
            <h5>Tạo màng chống nắng bền bỉ, dưỡng ẩm sâu từ serum cao cấp</h5>
            <p>Ngừa sạm nám, trẻ hoá da</p>
        </div>
        <div class="slider-product">
            <div class="slider-item">
                <img src="/public/src/assets/image/San-pham/Nexta_1.png" alt="Slide-1">
                <p>Sữa chống nắng vật lý bảo vệ da giảm dầu SPF50+, PA++++
            </div>
            <div class="slider-item">
                <img src="/public/src/assets/image/San-pham/Nexta_2.png" alt="Slide-1">
                <p>Sữa chống nắng vật lý bảo vệ da giảm dầu SPF50+, PA++++
            </div>
        </div>
    </div>
</container>


<script>
    const dateDisplay4 = document.getElementById('dateDisplay-4');

    dateDisplay4.textContent = getCurrentDate();

    var dropdownItems = document.querySelectorAll('.dropdown-item-4');
    dropdownItems.forEach(function (item) {
        item.addEventListener('click', function () {
            var selected = item.textContent.trim();

            document.getElementById('selected-4').textContent = selected;
        });
    });
</script>